# Uses: game-design-driven/mod-release-workflow
# Run setup: uv run /path/to/mod-release-workflow/setup.py

name: Release
concurrency: release-pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      manual_bump:
        description: 'Override bump (patch, minor, major)'
        default: 'patch'
        type: choice
        options: [patch, minor, major]

jobs:
  release:
    uses: game-design-driven/mod-release-workflow/.github/workflows/mod-release.yaml@main
    with:
      loader: "forge"
      mc_version: "1.20.1"
      java_version: "17"

      modrinth_id: ${{ vars.MODRINTH_ID }}
      curseforge_id: ${{ vars.CF_ID }}

      target_modpack_repo: ${{ vars.TARGET_MODPACK_REPO }}
      enable_modrinth_sync: ${{ vars.ENABLE_MODRINTH_SYNC == 'true' }}
      enable_curseforge_sync: ${{ vars.ENABLE_CURSEFORGE_SYNC == 'true' }}
      curseforge_modpack_path: "./curseforge"

      manual_bump: ${{ inputs.manual_bump || 'patch' }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
      CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}

      